<body>
<div class="middle">
  <div class="bio">
    <h1>Hello!</h1>
    <p class="middle">  My name is Alex Joiner and I am a web developer.<br/> I'm currently making one-hundred websites!
    </p>
  </div>
  <p class ="toplinelong"></p>
  <h2>My Websites!</h2>
  <div class="card offset-3">
    <% @sites.each do |site|%>
      <div class="booyah-box">
        <%= site.day %>
        <%= link_to site.name, "http://#{site.address}" %>
        <br />
        <p class ="topline">
          <%= site.description %>
        </p>
      </div>
    <% end %>
    <p>**Sites may take around 15 seconds for Heroku to start them</p>
  </div>
  <div>
    <h2 class="middle">Other Projects!</h2>
    <div class="lists offset-2">
      <ul class="right">
        <li><%= link_to "Pic-able", "https://grammable-alex-joiner.herokuapp.com/" %>
          <p>This is an instagram clone!</p>
        </li>
        <li><%= link_to "Teachster", "https://flixter-alex-joiner.herokuapp.com/" %>
          <p>This website is a paid video streaming site!</p>
        </li>
     </ul>

     <ul class="left">
        <li><%= link_to "Reviewster", "https://nomster-alex-joiner.herokuapp.com/" %>
          <p>This site is a Yelp clone!</p>
        </li>
        <li><%= link_to "Historical Quoter", "https://splurty-alex-joiner.herokuapp.com/" %>
          <p>This site allows users to upload historical quotes!</p>
        </li>
     </ul>
   </div>
  </div>
  <clear/>
  <p class ="toplinelong"></p>
  </div>
  </body>
  <div class="footer">
    <h2 class="">My skills!</h2>
    <p><%= image_tag 'skills.png' %></p>
  </div>
</div>
