<!DOCTYPE html>
<html>
  <head>
    <title>PortHome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <nav class="navbar">
    <h1 class="col-10">Alex Joiner</h1>
    <div class="links offset-1">
      <%= link_to "Github", "https://github.com/saj528" %>
    </div>
  </nav>
    <%= yield %>

</html>
